Repository Road-of-CODEr/we-hate-jvm, pull requests merged in 2021-02, with the labels that each got.

#25 feat(huisam): kotlin high function 정리 추가
  Kotlin/HighFunction/README.md
  README.md
Labels: Kotlin

#29 feat(kwj1270): Java Basic theorem JVM 기초
  Java/Basic/01 JVM.md
  Java/Basic/images/JVM/ByteCode.png
  Java/Basic/images/JVM/ByteCodeCLI.png
  Java/Basic/images/JVM/JDKAndJRE.png
  Java/Basic/images/JVM/JVMProcess.png
  Java/Basic/images/JVM/README.md
  Java/Basic/images/JVM/WORA.png
  Java/Basic/images/README.md
Labels: Java

#34 Java와 Kotlin 코드 비교
  README.md
  Spring/Java-Kotlin/1.Entity.md
  Spring/Java-Kotlin/2.Repository.md
  Spring/Java-Kotlin/3.Service.md
  Spring/Java-Kotlin/4.Controller.md
Labels: JPA, Kotlin

#37 feat(huisam): kotlin generic 정리 추가
  Kotlin/Generic/README.md
  README.md
Labels: Kotlin

#38 enum 비교
  README.md
  Spring/Java-Kotlin/5.Enum.md
Labels: Kotlin

#27 feat(aegis1920): JPA와 @Transactinoal에 대한 궁금증 정리
  JPA/Transactional_Annotation.md
  README.md
Labels: JPA
